--- 
title: About Me
kind: about
---

%h1=@item[:title]
%p=@item[:created_at]
%p My Name: (Yi Zheng)|(Zheng Yi)|(郑毅)
%p I'm a student in USTC(University of Science and Technology of China), Master. I spend my time in learning funny things, such as How to create a website? and How to send messages to others automatically. I'm not genious in anything, coding is interesting so I love it. There're several ways to find me: 
%br 0. u can come to HangZhou, Alibaba company, I'm here now.
%br 1. just send a email to me, rt77789(AT)gmail(DOT)com or xiaoe(AT)mail(DOT)ustc(DOT)cn
%br 2. twitter(rt77789)
%br 3. gtalk: rt77789(AT)gmail(DOT)com
%br 4. QQ: 81757417, I sign in everyday, but I really hate it and can't throw it away, u knows...
%br 5. Here is the last but most effective way, look for a beautiful girl and say my name loudly, then I'll come.
