--- 
title: Music
kind: music
---

%p
  %h4 
    可惜不是你
  %br
  %audio{:controls => "controls"}
    %source{:src => "#{@site.config()[:base_url]}/music/可惜不是你.mp3", :type => "audio/mpeg"}/
  %h4 
    王妃
    %br
    %audio{:controls => "controls"}
      %source{:src => "#{@site.config()[:base_url]}/music/王妃.mp3", :type => "audio/mpeg"}/

%p

